#header {
  height: 125px;
  line-height: 125px;
}

#footer {
  height: 75px;
  line-height: 75px;
}

div {
  height: 300px;
  width: 100%;
  border: 1px solid black;
}


@media( min-width: 960px ) {

  section {
    display:table;
  }

  div {
    float:left;
    margin: 2em;
  }
}