div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

section {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 88vw;
  height: 64vh;
}

div:nth-child(n+5):nth-child(-n+8) {
  width: 50%;
}

@media(min-width: 768px) {
  section {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    width: 97vw;
    height: 70vw;
  }
}