* {
  font-family: cursive;
}

#header {
  background-color: peachpuff;
}

#div1 {
  background-color: purple;
}

#div2 {
  background: red;
}
#div3 {
  background: pink;
}
#div4 {
  background-color: gray;
}
#div5 {
  background-color: darkblue;
}
#div6 {
  background-color: darkcyan;
}
#div7 {
  background-color: darkkhaki;
}

#footer {
  background-color: salmon;
}
@media( min-width: 1025px ) {
  #header {
    background-color: darkgray;
  }
  
  #div1 {
    background-color: black;
  }
  
  #div2 {
    background-color: lightgrey;
  }
  
  #div3 {
    background-color: rgba(27, 25, 25, 0);
  }
  
  
  #div4 {
    background-color: grey;
  }
  
  #div5 {
    background-color: white;
  }
  
  #div6 {
    background-color: lightskyblue;
  }
  
  #div7 {
    background-color: lightsteelblue;
  }
  
  #footer {
    background-color:blue;
  }
}

@media( min-width: 960px ) {

#header {
  background-color: gray;
}

#div1 {
  background-color: yellowgreen;
}

#div2 {
  background-color: lightgreen;
}

#div3 {
  background-color: darkolivegreen;
}


#div4 {
  background-color: lightgoldenrodyellow;
}

#div5 {
  background-color: lightslategray
}

#div6 {
  background-color: limegreen;
}

#div7 {
  background-color: lightsteelblue;
}

#footer {
  background-color: rgb(238, 248, 93);
}
}